{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{{block.super}}

<div class="content-section text-center container" style="margin-top:2em;">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Image" width="152" height="152">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary"><b>{{ user.profile.bio }}</b></p>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#exampleModal" style="border-radius: 25px;">Edit User Info</button>

    <!-- Modal for Profile update-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update Info</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}